<div class="d-flex justify-content-center mt-3">
  <div class="input-group" style="width: 600px;">
    <input class="form-control mr-sm-2" type="text" [formControl]="searchControl" placeholder="Acre, Br">
    <button class="btn btn-outline-dark my-2 my-sm-0" [disabled]="!searchControl.valid" (click)="doSearch()" type="button">Search</button>
  </div>
</div>  

<br>
<app-loader *ngIf="loading$ | async"></app-loader>

<div class="d-flex justify-content-center" 
    *ngIf="!(loading$ | async) && !(error$ | async) && !!cityWeather">
  <app-current-weather  [cityWeather]="cityWeather"
                        [unit]="unit"
                        (toggleBookmark)="onToggleBookmark()">
  </app-current-weather>
</div>


