<div>
  <span style="color: white">Unidade</span>
  <ul class="list-inline">
    <li class="list-inline-item" (click)="updateUnit(unitsEnum.Metric)">
     <button class="btn btn-warning btn-sm"><a>˚C</a></button>
    </li>
    <li class="list-inline-item" (click)="updateUnit(unitsEnum.Imperial)">
      <button class="btn btn-warning btn-sm"><a>˚F</a></button>
    </li>
    <li class="list-inline-item" (click)="updateUnit(unitsEnum.SI)">
      <button class="btn btn-warning btn-sm"><a>K</a></button>
    </li>
  </ul>
</div>
